*{
  font-family: "Abel", sans-serif;
  font-style: normal;
  font-size: 24px;
}

h1{
  color: #8B0C0C;
  font-size: 50px;
  text-align: center;
}

h2{
  font-size: 40px;
  text-align: center;
}

body{
    margin: 0;
    background-color: #FFF9EE;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #8B0C0C;
    text-decoration-thickness: 3px;
    cursor: pointer;
}
