@if (authService.isLoggedIn()) {
    <div class="container">
        <h1>Modification du mot de passe</h1>
        <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" class="flex-column">
            
            <div class="pair flex">
                <label for="password">Mot de passe actuel:</label>
                <input id="password" name="password" type="password" formControlName="password">
            </div>

            <div class="pair flex">
                <label for="newPassword">Nouveau mot de passe:</label>
                <input id="newPassword" name="newPassword" type="password" formControlName="newPassword">
            </div>

            <div class="pair flex">
                <label for="newPasswordBis">Confirmez le mot de passe:</label>
                <input id="newPasswordBis" name="newPasswordBis" type="password" formControlName="newPasswordBis">
            </div>

            <div class="pair flex buttons">
                <button type="button" (click)="navigateTo('/dashboard/home')">Retour</button>
                <button type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
} @else {
    <div class="container">
        <h1>Accès non autorisé</h1>
        <p>Vous devez être connecté pour accéder à cette page.</p>
        <button (click)="navigateTo('/login')">Se connecter</button>
    </div>
}