<footer>
    <div id="logos">
        <div id="facebook">
            <a target="_blank" href="https://www.facebook.com/francois.pichereau.3/"><img src="images/facebook-icon.png"
                    alt="Logo cliquable Facebook, vous redirige vers la page Facebook de François Pichereau."></a>
        </div>

        <div id="instagram">
            <a target="_blank" href="https://www.instagram.com/francoispichereau/"><img src="images/instagram-icon.png"
                    alt="Logo cliquable Instagram, vous redirige vers la page Instagram de François Pichereau."></a>
        </div>
    </div>

    <div id="contact">
        <h1>Contact</h1>
        <a href="mailto:françois.pichereau@hotmail.fr">{{email}}</a>
        <p>06 47 99 32 16</p>
    </div>

    <div id="ancre">
        <a (click)="scrollToElement('haut-page')">haut de page</a>
    </div>
    
</footer>