.admin-banner {
    background-color: #D9D9D9;

    height: fit-content;

    width: 60dvw;

    margin: 5px;
    padding: 10px;

    border: 1px gray solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px gray;
}

.admin-top {
    text-align: center;
}

.admin-bot {
    text-align: center;

    a {
        margin: 15px;
    }
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #8B0C0C;
    text-decoration-thickness: 3px;
    cursor: pointer;
}