


<swiper-container id="swiper-image"
  navigation="true" 
  pagination="true"
  zoom="none"
  effect="cube"
  loop="true">
  @for (slide of slides; track $index) {
    <swiper-slide>
        <img [src]="slide.src">  
    </swiper-slide>
  }
</swiper-container>


@if (this.content && this.image && this.image.image_id != -1){
  <div class="flex-column">
    <div id="titre">
      <h1>{{this.content[0].home_data_title}}</h1>
      <h2>{{this.content[0].home_data_subtitle}} <br>
      </h2>
    </div>


    <swiper-container id="swiper-video"
  navigation="true" 
  pagination="true"
  zoom="none"
  effect="cube"
  loop="true">
  @for (video of videos; track $index) {
    <swiper-slide>
        <video [src]="video.src" autoplay loop muted></video>   
    </swiper-slide>
  }
</swiper-container>
    <!-- <img [src]="this.imagesService.getImageUrl(this.image.image_id)" [alt]="this.image.image_description">

    <iframe [src]="sanitizedUrl" frameborder="0" allowfullscreen></iframe> -->
  </div>
}