.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-container {
    height: 95%;
    width: 100%;
    gap: 5vh;
}

.delete, .modify, .add {
    width: 25px;
    height: 25px;
}

.delete:hover , .modify:hover, .add:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 20vw;
    border: 2px black solid;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

tr:hover {
    background-color: #f5f5f5;
}

.line {
    justify-content: space-between;
}

.edit-icons {
    gap: 5px;
}
