<h1>Stages / Evenements</h1>
<h2 class="no-color">Stages et événements à venir</h2>

<mat-grid-list cols="3" rowHeight="30vh" gutterSize="30px">
    @for (i of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track i){
    <mat-grid-tile>
        <div class="month-container" appAutoScroll [scrollDelay]="150">
            <div class="month">
                <h2>{{ seminarsService.getMonthNameFromNumber((currentMonth + i) % 12) }} {{ ((currentMonth + i) % 12 < currentMonth) ?
                        (currentYear + 1) : currentYear }}</h2>
                        <hr>
            </div>
            <div class="event">
                @for(event of seminarsService.getSeminarsForMonth(seminars, (currentMonth + i) % 12); track event;){
                <h2>{{event.seminar_start_time | date:'d'}} {{seminarsService.getMonthNameFromNumber((currentMonth + i) % 12)}}</h2>
                <div class="informations">
                    <div class="left">
                        <span>{{addressService.getFormatedAddress(event.seminar_address)}}</span>
                    </div>
                    <div class="right">
                        <a [routerLink]="['/seminar-view', event.seminar_id]">détails</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </mat-grid-tile>
    }
</mat-grid-list>